<div class="container">
  <div class="row">
    <div class="col">
      <div class="cocktail-image">
        <% if @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, width: 400, height: 300, crop: :fill %>
        <% else %>
          <%= image_tag 'default-cocktail-photo.jpeg', width: 400 %>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="cocktail-infos">
        <div class="cocktail-infos-name">
          <h3><%= @cocktail.name.upcase %></h3>
        </div>
        <div class="cocktail-infos-doses">
          <div class="cocktail-infos-doses-list">
            <ul>
              <% @cocktail.doses.each do |dose| %>
              <li>
                <%= dose.ingredient.name %>: <%= dose.description %> ml <%= link_to '(delete)', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="cocktail-infos-doses-add-dose btn-ghost">
            <%= link_to 'New ingredient', new_cocktail_dose_path(@cocktail) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
